<nav class="pagination is-medium" role="navigation" aria-label="navigation">
    {{#if prev}}
        <a href="{{page_url prev}}" class="pagination-next">&larr; Newer Posts</a>
    {{/if}}

    <span class="pagination-link is-current">page {{page}} of {{pages}}</span>

    {{#if next}}
        <a href="{{page_url next}}" class="pagination-previous">Older Posts &rarr;</a>
    {{/if}}
</nav>